@using Final_Project.Models.Shop

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Nhập Kho";
    var nhaCungCaps = ViewBag.NhaCungCaps as List<NhaCungCap>;
    var sanPhams = ViewBag.SanPhams as List<SanPham>;
}

<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">
<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Admin/css/animate.css">
<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/Admin/css/style.css">

<form id="form-nhap-kho" asp-area="Admin" asp-controller="NhapKho" asp-action="Index" method="post">
    @Html.AntiForgeryToken()
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Nhập Kho</h4>
                    <h6>Thêm sản phẩm vào kho từ nhà cung cấp</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nhập mã hoặc tên sản phẩm</label>
                                <div class="input-groupicon">
                                    <input type="text" id="search-input" class="form-control" placeholder="Tìm kiếm sản phẩm" />
                                    <div class="addonset">
                                        <img src="~/Admin/img/icons/search.svg" alt="search" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>X</th>
                                            <th>Mã hàng</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Tồn Kho</th>

                                            <th style="background-color: #f0f8ff;">Giá Vốn (GiaGoc)</th>
                                            <th style="background-color: #f0fff0;">Giá Bán (DonGia)</th>

                                            <th style="background-color: #ffc;">Tỷ Lệ (Markup)</th>

                                            <th>SL Nhập</th>
                                            <th>Giá Nhập</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody id="product-list">
                                        @if (sanPhams != null && sanPhams.Any())
                                        {
                                            foreach (var sp in sanPhams)
                                            {
                                                <tr class="product-row d-none">
                                                    <td>
                                                        <input type="checkbox" class="sp-checkbox" value="@sp.MaSP" />
                                                    </td>
                                                    <td>@sp.MaSP</td>
                                                    <td class="productimgname">
                                                        <a href="javascript:void(0);" class="product-img">
                                                            <img src="@(sp.ImageURL ?? "/images/default-product.png")" alt="product" />
                                                        </a>
                                                        <a href="javascript:void(0);">@sp.TenSP</a>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="@(sp.SoLuong?.ToString("N0") ?? "0")" readonly style="text-align:right;" />
                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control" value="@(sp.GiaGoc?.ToString("N0") ?? "0")" readonly style="background-color: #f0f8ff; text-align:right; font-weight:bold;" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="@(sp.DonGia.ToString("N0"))" readonly style="background-color: #f0fff0; text-align:right; font-weight:bold;" />
                                                    </td>

                                                    <td>
                                                        <input type="number" class="form-control markup-input"
                                                               value="@(sp.MarkupRatio?.ToString("N2", System.Globalization.CultureInfo.InvariantCulture) ?? "1.50")"
                                                               step="0.01" min="0.01" style="background-color: #ffc; text-align:right; font-weight:bold;" />
                                                    </td>

                                                    <td>
                                                        <input type="number" class="form-control sl-input" min="1" value="1" style="text-align:right;" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control gia-input" min="0" value="0" style="text-align:right;" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control thanh-tien" value="0" readonly style="text-align:right;" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Nhà cung cấp</label>
                                <select name="MaNCC" class="form-control select">
                                    @if (nhaCungCaps != null)
                                    {
                                        foreach (var ncc in nhaCungCaps)
                                        {
                                            <option value="@ncc.MaNCC">@ncc.TenNCC</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="">-- Lỗi tải NCC --</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Ngày nhập</label>
                                <input name="NgayNhap" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Người nhập</label>
                                <select name="MaNguoiNhap" class="form-control select">
                                    <option value="1">Admin</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea name="GhiChu" class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <h5><i class="fas fa-info-circle text-primary"></i> Thông tin thanh toán</h5>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Hình thức</label>
                                <div>
                                    <input type="radio" name="HinhThucThanhToan" value="Tiền mặt" checked /> Tiền mặt
                                    <input type="radio" name="HinhThucThanhToan" value="Thẻ" /> Thẻ
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tiền hàng</label>
                                <input id="tien-hang" type="text" class="form-control" value="0" readonly />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Chiết khấu</label>
                                <input name="ChietKhau" id="chiet-khau" type="number" class="form-control" value="0" />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Phí phát sinh (Thuế, Vận chuyển...)</label>
                                <input name="ChiPhiPhatSinh" id="chi-phi-phat-sinh" type="number" class="form-control" value="0" />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Tổng cộng</label>
                                <input id="tong-cong" type="text" class="form-control" value="0" readonly />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Thanh toán</label>
                                <input id="thanh-toan" type="number" class="form-control" value="0" />
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Còn nợ</label>
                                <input id="con-no" type="text" class="form-control" value="0" readonly />
                            </div>
                        </div>

                        <input type="hidden" name="TongTien" id="hd-tong-tien" />
                        <input type="hidden" name="DaThanhToan" id="hd-thanh-toan" />
                        <input type="hidden" name="ConNo" id="hd-con-no" />

                        <div class="col-lg-12 mt-3">
                            <div class="form-group d-flex gap-2">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <a asp-action="Index" asp-controller="NhapKho" class="btn btn-danger">Hủy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    <script>
        $(document).ready(function () {
            const formId = '#form-nhap-kho';

            // --- SỬA 1: Biến toàn cục để giữ giá trị (số thực)
            //     Không đọc/ghi từ DOM đã format, tránh lỗi
            let rawTienHang = 0;
            let rawTongCong = 0;
            let rawConNo = 0;

            // Hàm ẩn/hiện sản phẩm theo từ khóa hoặc checkbox
            function updateVisibleRows(keyword) {
                $('.product-row').each(function () {
                    var row = $(this);
                    var isChecked = row.find('.sp-checkbox').is(':checked');
                    var rowText = row.text().toLowerCase();

                    if (keyword) {
                        if (rowText.includes(keyword)) {
                            row.removeClass('d-none');
                        } else {
                            if (!isChecked) { // Nếu không khớp và cũng không được check -> ẩn
                                row.addClass('d-none');
                            }
                        }
                    } else {
                        if (isChecked) {
                            row.removeClass('d-none');
                        } else {
                            row.addClass('d-none');
                        }
                    }
                });
            }

            // Tìm kiếm sản phẩm
            $('#search-input').on('keyup', function () {
                var keyword = $(this).val().toLowerCase().trim();
                updateVisibleRows(keyword);
            });

            $('#product-list').on('change', '.sp-checkbox', function () {
                var keyword = $('#search-input').val().toLowerCase().trim();
                updateVisibleRows(keyword);
            });


            // --- SỬA 2: Hàm format tiền
            //     Theo yêu cầu của bạn, luôn hiển thị 5 số thập phân
            function formatCurrency(number) {
                if (typeof number !== 'number') {
                    number = parseFloat(number) || 0;
                }

                const options = {
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0
                };
                // Dùng 'vi-VN' để có dấu phẩy (,) ngăn cách thập phân
                return number.toLocaleString('vi-VN', options);
            }

            // --- SỬA 3: Xóa hoàn toàn hàm parseNumber(val) cũ.
            //     Chúng ta sẽ dùng parseFloat() trực tiếp cho các ô input
            //     và dùng các biến (rawTienHang, rawTongCong)

            // Tính tiền hàng
            function tinhTienHang() {
                let tongTienHang = 0;
                $('.product-row').each(function () {
                    const row = $(this);
                    const isChecked = row.find('.sp-checkbox').is(':checked');

                    if (isChecked) {
                        // SỬA 4: Dùng parseFloat cho các ô input (type="number")
                        const sl = parseFloat(row.find('.sl-input').val()) || 0;
                        const gia = parseFloat(row.find('.gia-input').val()) || 0;
                        const thanhTien = sl * gia;
                        tongTienHang += thanhTien;

                        // Hiển thị đã format (với 5 số thập phân)
                        row.find('.thanh-tien').val(formatCurrency(thanhTien));
                    } else {
                        row.find('.thanh-tien').val(formatCurrency(0));
                    }
                });

                // Lưu giá trị SỐ (raw) vào biến
                rawTienHang = tongTienHang;

                // Hiển thị giá trị đã format
                $('#tien-hang').val(formatCurrency(tongTienHang));

                // Gọi hàm tính toán tiếp theo
                tinhTongCong();
            }

            // Tính tổng cộng
            function tinhTongCong() {
                // SỬA 5: Dùng parseFloat cho các ô input
                const chietKhau = parseFloat($('#chiet-khau').val()) || 0;
                const chiPhiPhatSinh = parseFloat($('#chi-phi-phat-sinh').val()) || 0;
                const thanhToan = parseFloat($('#thanh-toan').val()) || 0;

                // Dùng giá trị SỐ (rawTienHang) đã lưu để tính
                const tongCong = rawTienHang - chietKhau + chiPhiPhatSinh;
                const conNo = tongCong - thanhToan;

                // Lưu các giá trị SỐ (raw)
                rawTongCong = tongCong;
                rawConNo = Math.max(conNo, 0);

                // Hiển thị các giá trị đã format (với 5 số thập phân)
                $('#tong-cong').val(formatCurrency(rawTongCong));
                $('#con-no').val(formatCurrency(rawConNo));
            }

            // Tick sản phẩm khi nhập số lượng hoặc giá
            $('#product-list').on('input', '.sl-input, .gia-input', function () {
                const row = $(this).closest('.product-row');
                if (!row.find('.sp-checkbox').is(':checked')) {
                    row.find('.sp-checkbox').prop('checked', true);
                    var keyword = $('#search-input').val().toLowerCase().trim();
                    updateVisibleRows(keyword);
                }
                tinhTienHang();
            });

            // Cập nhật khi tick/untick checkbox
            $('#product-list').on('change', '.sp-checkbox', function () {
                $('#search-input').val(''); // clear search
                updateVisibleRows('');
                tinhTienHang();
            });

            // Khi nhập chiết khấu, phí, hoặc thanh toán
            $('#chiet-khau, #thanh-toan, #chi-phi-phat-sinh').on('input', function () {
                tinhTongCong();
            });

            // Khởi tạo
            tinhTienHang();

           // Submit form
           $(formId).on('submit', function (e) {
                // Xóa input ẩn cũ (nếu có) trước khi tạo mới
                $('input[name="MaSP"], input[name="SoLuong"], input[name="DonGia"], input[name="MarkupRatio"]').remove();

                let hasValidProduct = false;
                $('.product-row').each(function () {
                    const row = $(this);
                    if (row.find('.sp-checkbox').is(':checked')) {
                        const maSP = row.find('.sp-checkbox').val();

                        const soLuong = parseFloat(row.find('.sl-input').val()) || 0;
                        const giaNhap = parseFloat(row.find('.gia-input').val()) || 0;

                        // THÊM MỚI: Lấy giá trị MarkupRatio từ ô input
                        const markupRatio = parseFloat(row.find('.markup-input').val()) || 0;

                        // Chỉ thêm nếu hợp lệ (Thêm markupRatio > 0 vào điều kiện)
                        if (soLuong > 0 && giaNhap > 0 && markupRatio > 0) {
                            hasValidProduct = true;
                            $('<input>', { type: 'hidden', name: 'MaSP', value: maSP }).appendTo(formId);
                            $('<input>', { type: 'hidden', name: 'SoLuong', value: soLuong }).appendTo(formId);
                            $('<input>', { type: 'hidden', name: 'DonGia', value: giaNhap }).appendTo(formId);

                            // THÊM MỚI: Add hidden input cho MarkupRatio
                            $('<input>', { type: 'hidden', name: 'MarkupRatio', value: markupRatio }).appendTo(formId);
                        }
                    }
                });

                if (!hasValidProduct) {
                    alert("Bạn chưa chọn sản phẩm nào HOẶC S/L, Giá nhập, Tỷ lệ markup không hợp lệ (phải > 0).");
                    e.preventDefault(); // Ngăn chặn submit
                    return false;
                }

                $('#hd-tong-tien').val(rawTienHang);
                $('#hd-thanh-toan').val(parseFloat($('#thanh-toan').val()) || 0);
                $('#hd-con-no').val(rawConNo);

                return true; // Cho phép submit
            });
        });
    </script>
}


<script src="~/Admin/js/jquery-3.6.0.min.js"></script>
<script src="~/Admin/js/feather.min.js"></script>
<script src="~/Admin/js/jquery.slimscroll.min.js"></script>
<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/plugins/select2/js/select2.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>
<script src="~/Admin/js/script.js"></script>