<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>Nội Thất G3TD - Wellcome !</title>
<meta name="robots" content="index, follow">
<meta name="description" content="Menyajikan berita terbaru, tercepat, dan terpercaya seputar tunggul hitam.">
<meta name="keywords" content="Selamat datang di CMS Swarakalibata, adalah penyempurnaan dan perbaikan.">
<meta name="author" content="phpmu.com">
<meta name="robots" content="all,index,follow">
<meta http-equiv="Content-Language" content="id-ID">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<link rel="canonical" href="#"/>
<link rel="shortcut icon" href="~/Users/log.png"/>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss.xml"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="~/Users/css/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Users/css/plugins/fonts/Linearicons/Linearicons/Font/demo-files/demo.css">
<link rel="stylesheet" href="~/Users/css/plugins/bootstrap4/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Users/css/plugins/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="~/Users/css/plugins/slick/slick/slick.css">
<link rel="stylesheet" href="~/Users/css/plugins/lightGallery-master/dist/css/lightgallery.min.css">
<link rel="stylesheet" href="~/Users/css/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="~/Users/css/plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="~/Users/css/plugins/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="~/Users/css/red.css">
<link rel="stylesheet" href="~/Users/css/custom.css">
<link rel="stylesheet" href="~/Users/css/bootstrap-multiselect.css">
<link rel="stylesheet" href="~/Users/css/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/Users/css/summernote-bs4.css">
<link rel="stylesheet" type="~/Users/css/uploadfile.css">
<link rel="stylesheet" href="~/Users/css/plugins/rutgon/rutgon.css">
<script type="text/javascript" src="~/Users/js/jquery-3.2.1.min.js"></script>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function nospaces(t){
            if(t.value.match(/\s/g)){
                alert('Maaf, Tidak Boleh Menggunakan Spasi,..');
                t.value=t.value.replace(/\s/g,'');
            }
        }
        $(".formatNumber").on('keyup', function(){
            var n = parseInt($(this).val().replace(/\D/g,''),10);
            $(this).val(n.toLocaleString());
        });
    </script>
<script>
        $(document).ready(function(){
        $('#operator').change(function(){
            var operator_id = $(this).val();
            $.ajax({
            type:"POST",
            url:"https://tajalapak.com/main/produk",
            data:"operator_id="+operator_id,
            success: function(response){
                $('#produk').html(response);
            }
            })
        })
        })
    </script>
</head>
<body>


<div class="modal fade lupa-example-modal-lg" style='z-index:99999' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header" style='border-bottom:0px solid #e9ecef'>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-s6" style='padding:0px 40px'>
						<div class='ps-block__item' style='margin-bottom: 10px;'>
							<div class='ps-block__left' style='display:block; float:left'>
								<i style='font-size:35px; margin-right:20px' class='icon-rocket'></i>
							</div>
							<div class='ps-block__right'>
								<h5 style='margin-bottom:0px'>Pengiriman gratis</h5>
								<p>
									 Untuk pesanan min  999.000
								</p>
							</div>
						</div>
						<div class='ps-block__item' style='margin-bottom: 10px;'>
							<div class='ps-block__left' style='display:block; float:left'>
								<i style='font-size:35px; margin-right:20px' class='icon-sync'></i>
							</div>
							<div class='ps-block__right'>
								<h5 style='margin-bottom:0px'>90 uang Kembali</h5>
								<p>
									 Jika barang Bermasalah
								</p>
							</div>
						</div>
						<div class='ps-block__item' style='margin-bottom: 10px;'>
							<div class='ps-block__left' style='display:block; float:left'>
								<i style='font-size:35px; margin-right:20px' class='icon-credit-card'></i>
							</div>
							<div class='ps-block__right'>
								<h5 style='margin-bottom:0px'>Pembayaran aman</h5>
								<p>
									 Pembayaran aman 100%
								</p>
							</div>
						</div>
						<div class='ps-block__item' style='margin-bottom: 10px;'>
							<div class='ps-block__left' style='display:block; float:left'>
								<i style='font-size:35px; margin-right:20px' class='icon-bubbles'></i>
							</div>
							<div class='ps-block__right'>
								<h5 style='margin-bottom:0px'>Dukungan 1 x 24 jam</h5>
								<p>
									 Dukungan khusus untuk anda
								</p>
							</div>
						</div>
						<div class='ps-block__item' style='margin-bottom: 10px;'>
							<div class='ps-block__left' style='display:block; float:left'>
								<i style='font-size:35px; margin-right:20px' class='icon-gift'></i>
							</div>
							<div class='ps-block__right'>
								<h5 style='margin-bottom:0px'>Layanan Hadiah</h5>
								<p>
									 Mendukung layanan hadiah
								</p>
							</div>
						</div>
						<hr style='padding:15px 0px 5px 0px'>
						<div class="info--register-bottom" style='margin-bottom:20px'>
							<center><span>Belum punya akun?</span><a style='color:#000' href="https://tajalapak.com/auth/login" class="btn-register" target="_parent">Daftar sekarang!</a></center>
						</div>
					</div>
					<div class="col-md-6" style='padding:0px 40px'>
						<h3>LUPA PASSWORD?</h3>
						<form action="#" method="POST">
							<div class="ps-form__content">
								<div class="form-group" style='margin-bottom: 1.8rem;'>
									<label style='margin-bottom:5px' class="col-form-label">Username, Email</label>
									<input class="form-control" name='a' style='height:40px' type="text" autofocus required></div>
								<div class="form-group">
									<label style='margin-bottom:5px' class="col-form-label">No. Handphone</label>
									<input class="form-control" name='b' style='height:40px' type="text" required></div>
								<div class="form-group" style='margin-bottom: 1rem;'>
									<div class="ps-checkbox">
										<a href='#' class='text' data-dismiss="modal" aria-hidden="true">Batalkan?</a>
										<a href='#' style='color:#000' class='float-right' data-dismiss="modal" aria-hidden="true" data-toggle='modal' data-target='.bd-example-modal-lg'>Kembali Login?</a>
									</div>
								</div>
								<br>
								<div class="form-group submit" style='margin-bottom:5px'>
									<button type='submit' name='submit3' class="ps-btn ps-btn--fullwidth">Kirimkan Permintaan</button>
								</div>
								<br></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='Back-to-top'>
	<img alt='Scroll to top' src="~/Users/img/top.png"/>
</div>
<header class="header header--1" data-sticky="true">
<div class="header__topone">
	<div class="container">
		<div class="header__left">
			<p>
				<strong>Miễn phí vận chuyển</strong>
				 Đối với đơn đặt hàng tối thiểu 10,000,000Vnđ
			</p>
		</div>

		<!--<div class="header__right">
			<ul class="header__top-links">
				<li>
					<a href="#">Telusuri Pesanan</a>
				</li>
				<li>
					<div class="ps-block--user-header">
						<div class="ps-block__left">
							<i class="icon-user"></i>
						</div>
						<div class="ps-block__right">
							<a href='#' data-toggle='modal' data-target='.bd-example-modal-lg'>Login</a>
							<a href='#'>Register</a>
						</div>
					</div>
				</li>
			</ul>
		</div>-->
                    <div class="header__right">
                        <ul class="header__top-links">
                            <li><a class="nav-link" asp-controller="LienHe" asp-action="Index">Liên Hệ</a></li>
							 <li>
                                
								 <div class="top-bar-right">
								<a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
								<a href="#" class="social-icon"><i class="bi bi-github"></i></a>
								<a href="#" class="social-icon"><i class="bi bi-whatsapp"></i></a>
							</div>

                            </li>
                                <li>
                                <div class="ps-block--user-header">
                                    <div class="ps-block__left"><i class="icon-user"></i></div>
                                    <div class="ps-block__right">
                                    <a >0979758744</a>
                                    <a >0975452144</a>                                    
									</div>
                                </div>
                            </li>
                        </ul>
                    </div>		
	</div>
</div>

<div class="header__top">
	<div class="ps-container">
		<div class="header__left">
			<div class="menu--product-categories">
				<div class="menu__toggle">
					<i class="icon-menu"></i><span>Danh mục</span>
				</div>
				<div class="menu__content">
					<ul class="menu--dropdown">
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-gift'></i> Alat Musik & Pro Audio <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Gitar</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Piano</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Talempong</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-heart'></i> Fashion & Busana Pria <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Accessories</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Kid's Fashion</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Shoes</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-bag2'></i> Fashion & Busana Wanita <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Kiyora Dalam</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Kiyora Sedang</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-sync'></i> Olahraga dan Luar Rumah <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Freezer Burn</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Frigde Cooler</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Wine Cabinets</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-telephone'></i> Perhiasan dan Aksesoris <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Cincin</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Jam tangan</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Kalung</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>sdasd</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-credit-card'></i> Perhiasan dan Jam Tangan <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Cincin Kawin</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Emas Putih</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-rocket'></i> Taman dan Alat Dapur <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Cookware</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Decoration</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Furniture</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Garden Tools</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class='current-menu-item menu-item-has-children has-mega-menu'>
							<a href='#'><i class='icon-bubbles'></i> Tas, Koper & Perjalanan <span class='caret caret-right'></span></a>
							<div class='mega-menu'>
								<div class='mega-menu__column'>
									<ul class='mega-menu__list'>
										<li class='current-menu-item'>
											<a href='#'>Car Electronics</a>
										</li>
										<li class='current-menu-item'>
											<a href='#'>Office Electronics</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<a class='ps-logo' href='#'><img src="~/Users/img/lugo.png"/></a>

		</div>
		<div class="header__center">
		<form class="ps-form--quick-search" asp-controller="SanPham" asp-action="Search" method="get">
    <div class="form-group--icon">
        <i class="icon-chevron-down"></i>
        <select class="form-control" name="filter">
            <option value="0" selected>Tất Cả</option>
            <option value="Phòng khách">Phòng khách</option>
            <option value="Phòng ngủ">Phòng ngủ</option>
            <option value="Phòng ăn">Phòng ăn</option>
            <option value="Phòng làm việc">Phòng làm việc</option>
            <option value="Nội thất trẻ em">Nội thất trẻ em</option>
            <option value="Đồ trang trí">Đồ trang trí</option>
            <option value="Đèn & chiếu sáng">Đèn & chiếu sáng</option>
            <option value="Rèm, thảm & phụ kiện">Rèm, thảm & phụ kiện</option>
            <option value="Bàn làm việc">Bàn làm việc</option>
            <option value="Ghế văn phòng">Ghế văn phòng</option>
            <option value="Tủ kệ trang trí">Tủ kệ trang trí</option>
        </select>
    </div>

    <!-- Input từ khóa để tìm kiếm -->
    <input class="form-control" name="keyword" type="text" placeholder="Tìm kiếm ở đây..." autocomplete="off" required>

    <button type="submit" class="icon-magnifier" name="cari"></button>
</form>

		</div>
		<div class="header__right">
			<div class="header__actions">
							@{
					int soLuongGioHang = Context.Session.GetInt32("SoLuongGioHang") ?? 0;
				}

				@if (User.Identity.IsAuthenticated)
				{
					<a class="header__extra" asp-controller="GioHang" asp-action="Index">
						<i class="icon-bag2"></i>
						<span>
							<i class="wishlistcount">@soLuongGioHang</i>
						</span>
					</a>
				}
				else
				{
					<a class="header__extra" asp-controller="Auth" asp-action="Login">
						<i class="icon-bag2"></i>
						<span>
							<i class="wishlistcount">@soLuongGioHang</i>
						</span>
					</a>
				}

						<div class='ps-cart--mini'>
							<a class="header__extra" href="/User/Profile#favoritesSection" id="favoriteLink">
								<i class="icon-heart"></i>
							</a>
						</div>
						<script>
							document.getElementById("favoriteLink").addEventListener("click", function(e) {
								e.preventDefault();

								fetch('/Auth/CheckLogin')
									.then(res => res.json())
									.then(data => {
										if (data.loggedIn) {
											window.location.href = "/User/Profile#favoritesSection";
										} else {
											window.location.href = "/Auth/Login";
										}
									})
									.catch(err => {
										console.error(err);
										// fallback nếu lỗi API
										window.location.href = "/Auth/Login";
									});
							});
						</script>

				<div class='ps-cart--mini'>
							@{
								// Lấy số tin nhắn chưa đọc từ Session hoặc ViewBag
								int soTinChuaDoc = Context.Session.GetInt32("SoTinChuaDoc") ?? 0;
							}

							<div class='ps-cart--mini'>
								@if (User.Identity.IsAuthenticated)
								{
									<a class='header__extra' asp-controller="UserChat" asp-action="Index">
										<i class='icon-bubble'></i>
										<span>
											<i>@soTinChuaDoc</i>
										</span>
									</a>
								}
								else
								{
									<a class='header__extra' asp-controller="Auth" asp-action="Login">
										<i class='icon-bubble'></i>
										<span>
											<i>0</i>
										</span>
									</a>
								}
							</div>

				</div>	
				<div class='ps-cart--mini'>
					<a class='header__extra' href='/User/Profile#historySection' id="historyLink"><i class='icon-history'></i></a>
				</div>	
				<script>
							document.getElementById("historyLink").addEventListener("click", function(e) {
								e.preventDefault();

								fetch('/Auth/CheckLogin')
									.then(res => res.json())
									.then(data => {
										if (data.loggedIn) {
											window.location.href = "/User/Profile#historySection";
										} else {
											window.location.href = "/Auth/Login";
										}
									})
									.catch(err => {
										console.error(err);
										// fallback nếu lỗi API
										window.location.href = "/Auth/Login";
									});
							});
						</script>
				<div class="ps-block__left">
						<a class='header__extra' href='/User/Profile#addressSection' id="addressLink"><i class="icon-apartment"></i></a>
				</div>				
				<script>
							document.getElementById("addressLink").addEventListener("click", function(e) {
								e.preventDefault();

								fetch('/Auth/CheckLogin')
									.then(res => res.json())
									.then(data => {
										if (data.loggedIn) {
											window.location.href = "/User/Profile#addressSection";
										} else {
											window.location.href = "/Auth/Login";
										}
									})
									.catch(err => {
										console.error(err);
										// fallback nếu lỗi API
										window.location.href = "/Auth/Login";
									});
							});
						</script>
			</div>
		</div>
	</div>
</div>

<nav class="navigation">
<div class="ps-container">
	<div class="navigation__left">
    <div class="menu--product-categories">
        <div class="menu__toggle">
            <i class="icon-menu"></i><span>Danh mục</span>
        </div>
        <div class="menu__content">
            <ul class="menu--dropdown">
                @if (ViewBag.DanhMucs != null && ViewBag.DanhMucs.Count > 0)
                {
                    foreach (var dm in ViewBag.DanhMucs)
                    {
                        <li class="current-menu-item menu-item-has-children has-mega-menu">
                            <a asp-controller="SanPham" asp-action="Index" asp-route-category="@dm.TenDanhMuc">
                                <i class="@dm.Logo"></i> @dm.TenDanhMuc
                                <span class="caret caret-right"></span>
                            </a>

                            @if (dm.SanPhams != null && dm.SanPhams.Count > 0)
                            {
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <ul class="mega-menu__list">
                                            @foreach (var sp in dm.SanPhams)
                                            {
                                                <li class="current-menu-item">
                                                    <a asp-controller="SanPham" asp-action="Details" asp-route-id="@sp.MaSP">
                                                        @sp.TenSP
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                }
                else
                {
                    <li><span>Không có danh mục nào</span></li>
                }
            </ul>
        </div>
    </div>
</div>

	<div class="navigation__right">
		<ul class='menu'>
			<li class='current-menu-item'>
				<a class="nav-link" asp-controller="Home" asp-action="Index">Trang chủ</a><span class='sub-toggle'></span>
			</li>
			<li class='current-menu-item'>
				<a class="nav-link" asp-controller="GioiThieu" asp-action="Index">Giới thiệu </a><span class='sub-toggle'></span>
			</li>
			<li class="menu-item-has-children">
				<a asp-controller="SanPham" asp-action="Index">Sản phẩm</a><span class="sub-toggle"></span>
				<ul class="sub-menu">
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng khách">Phòng khách</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng ngủ">Phòng ngủ</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng ăn">Phòng ăn</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng làm việc">Phòng làm việc</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Nội thất trẻ em">Nội thất trẻ em</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Đồ trang trí">Đồ trang trí</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Đèn & chiếu sáng">Đèn & chiếu sáng</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Rèm, thảm & phụ kiện">Rèm, thảm & phụ kiện</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Bàn làm việc">Bàn làm việc</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Ghế văn phòng">Ghế văn phòng</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Tủ kệ trang trí">Tủ kệ trang trí</a>
					</li>
				</ul>
			</li>

			<li class="menu-item-has-children">
				<a asp-controller="Decor" asp-action="Index"><span>Decor</span></a>
				<span class="sub-toggle"></span>
				<ul class="sub-menu">
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="1">Phòng khách</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="2">Phòng ngủ</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="3">Phòng ăn</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="4">Phòng làm việc</a>
					</li>
				</ul>
			</li>
			<li class='current-menu-item'>
			<a class="nav-link" asp-controller="TinTuc" asp-action="Index">Tin Tức</a><span class='sub-toggle'></span>
			</li>

			<li class='current-menu-item'>
				<a class="nav-link texts-danger fw-bold" asp-controller="FlashSale" asp-action="Index">
                        <i class="bi bi-lightning-charge"></i> FLASH SALE
                    </a>
			</li>


			
		</ul>
		



<ul class="menu">

    

    @if (!User.Identity.IsAuthenticated)
    {
        <li class="current-menu-item">
            <a asp-controller="Auth" asp-action="Login" class="nav-link">Đăng nhập</a>
        </li>
        <li class="current-menu-item">
            <a asp-controller="Auth" asp-action="Register" class="nav-link">Đăng ký</a>
        </li>
    }
    else
    {
        <li class="menu-item-has-children">
            <a asp-controller="User" asp-action="Profile" class="nav-link d-flex align-items-center">
                <img src="@((ViewBag.Avatar != null) ? ViewBag.Avatar : Url.Content("~/uploads/avatars/Avatar.jpg"))" 
                     alt="Avatar" 
                     class="rounded-circle me-2" 
                     style="width: 32px; height: 32px; object-fit: cover;" />
                @ViewBag.HoTen
            </a>
            <span class="sub-toggle"></span>
            <ul class="sub-menu">
                <li>
                    <a asp-controller="User" asp-action="Profile">Thông tin cá nhân</a>
                </li>
                <li>
                    <a href='/User/Profile#addressSection' id="addressLink">Đơn hàng của tôi</a>
                </li>
                <li>
                    <a asp-controller="Auth" asp-action="Logout" class="text-danger">Đăng xuất</a>
                </li>
            </ul>
        </li>
    }
</ul>
		</ul>
	</div>
</div>
</nav>
</header>
<header class="header header--mobile" data-sticky="true">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="navigation--mobile">
	<div class="navigation__left">
		<a class='ps-logo' href='#'><img src="~/Users/img/lugo.png"/></a>
	</div>
	<div class="navigation__right">
		<div class="header__actions">
			<div class="ps-cart--mini">
    @{
        // Lấy số lượng sản phẩm trong giỏ từ Session
        int soLuongGioHangMini = Context.Session.GetInt32("SoLuongGioHang") ?? 0;
    }

    @if (User.Identity.IsAuthenticated)
    {
        <a class="header__extra" asp-controller="GioHang" asp-action="Index">
            <i class="icon-bag2"></i>
            <span>
                <i class="wishlistcount">@soLuongGioHangMini</i>
            </span>
        </a>
    }
    else
    {
        <a class="header__extra" asp-controller="Auth" asp-action="Login">
            <i class="icon-bag2"></i>
            <span>
                <i class="wishlistcount">@soLuongGioHangMini</i>
            </span>
        </a>
    }

  
        </div>
    </div>
</div>

			<div class="ps-block--user-header user-menu">
    <div class="ps-block__right">
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Auth" asp-action="Login">Đăng nhập</a>
            <a asp-controller="Auth" asp-action="Register">Đăng ký</a>
        }
        else
        {
            <a asp-controller="User" asp-action="Profile" class="d-flex align-items-center user-toggle">
                <img src="@((ViewBag.Avatar != null) ? ViewBag.Avatar : Url.Content("~/uploads/avatars/Avatar.jpg"))"
                     alt="Avatar"
                     class="rounded-circle me-2"
                     style="width: 32px; height: 32px; object-fit: cover;" />
                @ViewBag.HoTen
            </a>
            <div class="user-submenu">
                <a asp-controller="User" asp-action="Profile">Thông tin cá nhân</a>
                <a href="/User/Profile#addressSection" id="addressLink">Đơn hàng của tôi</a>
                <a asp-controller="Auth" asp-action="Logout" class="text-danger">Đăng xuất</a>
            </div>
        }
    </div>
</div>
<style>
	.ps-block--user-header.user-menu {
    color: aliceblue;
}
	.user-menu {
    position: relative;
    display: inline-block;
}

.user-menu .user-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}

.user-menu .user-submenu a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
}

.user-menu .user-submenu a:hover {
    background: #f2f2f2;
}

.user-menu:hover .user-submenu {
    display: block;
}
</style>


		</div>
	</div>
</div>
<div class="ps-search--mobile">
	<form class="ps-form--search-mobile" method="get" asp-controller="SanPham" asp-action="Search" method="post">
  <div class="form-group--nest">
    <input class="form-control" name="kata" type="text" placeholder="Tìm Kiếm Tại Đây..." required />
    <button type="submit" name="timkiem" aria-label="Tìm kiếm">
      <i class="icon-magnifier"></i>
    </button>
  </div>
</form>

</div>
</header>

<div class="navigation--list">
	<div class="navigation__content">
		<a class="navigation__item ps-toggle--sidebar" href="#menu-mobile"><i class="icon-menu"></i><span>Menu</span></a>
		<a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile"><i class="icon-list4"></i><span>Danh Mục</span></a>
		<a class="navigation__item ps-toggle--sidebar" href="#search-sidebar"><i class="icon-magnifier"></i><span>Tìm Kiếm</span></a>
		@if (User.Identity.IsAuthenticated)
{
    <a class="navigation__item" asp-controller="GioHang" asp-action="Index">
        <i class="icon-bag2"></i>
        <span>Giỏ Hàng (<i class="wishlistcount">@soLuongGioHang</i>)</span>
    </a>
}
else
{
    <a class="navigation__item" asp-controller="Auth" asp-action="Login">
        <i class="icon-bag2"></i>
        <span>Giỏ Hàng (<i class="wishlistcount">@soLuongGioHang</i>)</span>
    </a>
}

	</div>
</div>
<div class="ps-panel--sidebar" id="search-sidebar">
	<div class="ps-panel__header">
		<form class="d-flex w-50 search-bar" method="get" asp-controller="SanPham" asp-action="Search">
    <input name="keyword" class="form-control form-control-lg" placeholder="Thỏa mãn nhu cầu trang trí nhà..." />
    <button type="submit" class="btn btn-danger ms-2 px-3">🔍</button>
</form>

	</div>
	<div class="navigation__content"></div>
</div>
<div class="ps-panel--sidebar" id="menu-mobile">
	<div class="ps-panel__header">
		<h3>Menu</h3>
	</div>
	<div class="ps-panel__content">
		<ul class='menu--mobile'>
			<li class='current-menu-item'>
				<a class="nav-link" asp-controller="Home" asp-action="Index">Trang chủ</a>
			</li>
			<li class='current-menu-item'>
				<a class="nav-link" asp-controller="GioiThieu" asp-action="Index">Giới thiệu </a>
			</li>
			<li class="menu-item-has-children">
				<a asp-controller="SanPham" asp-action="Index">Sản phẩm</a><span class="sub-toggle"></span>
				<ul class="sub-menu">
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng khách">Phòng khách</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng ngủ">Phòng ngủ</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng ăn">Phòng ăn</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Phòng làm việc">Phòng làm việc</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Nội thất trẻ em">Nội thất trẻ em</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Đồ trang trí">Đồ trang trí</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Đèn & chiếu sáng">Đèn & chiếu sáng</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Rèm, thảm & phụ kiện">Rèm, thảm & phụ kiện</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Bàn làm việc">Bàn làm việc</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Ghế văn phòng">Ghế văn phòng</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="SanPham" asp-action="Index" asp-route-category="Tủ kệ trang trí">Tủ kệ trang trí</a>
					</li>
				</ul>
			</li>

			<li class="menu-item-has-children">
				<a asp-controller="Decor" asp-action="Index"><span>Decor</span></a>
				<span class="sub-toggle"></span>
				<ul class="sub-menu">
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="1">Phòng khách</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="2">Phòng ngủ</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="3">Phòng ăn</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="Decor" asp-action="Index" asp-route-category="4">Phòng làm việc</a>
					</li>
				</ul>
			</li>

			<li class="menu-item-has-children">
				<a asp-controller="TinTuc" asp-action="Index"><span>Tin Tức</span></a>
				<span class="sub-toggle"></span>
				<ul class="sub-menu">
					<li class="current-menu-item">
						<a asp-controller="News" asp-action="Knowledge">
							<i class="bi bi-lightbulb"></i> Kiến thức nội thất
						</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="News" asp-action="Design">
							<i class="bi bi-brush"></i> Thiết kế đẹp
						</a>
					</li>
					<li class="current-menu-item">
						<a asp-controller="News" asp-action="Promotions">
							<i class="bi bi-tags"></i> Chương trình khuyến mãi
						</a>
					</li>
				</ul>
			</li>

			<li class='current-menu-item'>
				<a href='#'>Flase Sales</a>
			</li>
			<li class='current-menu-item'>
				<a class="nav-link" asp-controller="LienHe" asp-action="Index">Liên Hệ</a>
			</li>
			<li class='current-menu-item'>
				<a href='#'>Login</a>
			</li>
		</ul>
	</div>
</div>



  <!-- Main content -->
        <main class="flex-fill container my-4">
            @RenderBody()
        </main>
		  @RenderSection("Scripts", required: false)


<footer class="ps-footer">
<div class="ps-container">
	<div class="ps-footer__widgets">
		<aside class='widget widget_contact-us'>
		<h4 class='widget-title'>Nội Thật Shop G3TD</h4>
		<div class='widget_content'>
			<p>
				Chúng tôi cung cấp các sản phẩm nội thất chất lượng...<br/>
				<h3>0812 6777 13xx</h3>
				 194 Võ Văn Kiệt, Phường 3, Quận 1, TPHCM <br/>web@gmail.com</p>
			<ul class='ps-list--social'>
				<li>
					<a class='facebook' href='#'><i class='fa fa-facebook'></i></a>
				</li>
				<li>
					<a class='twitter' href='#'><i class='fa fa-twitter'></i></a>
				</li>
				<li>
					<a class='google-plus' href='#'><i class='fa fa-google-plus'></i></a>
				</li>
				<li>
					<a class='instagram' href='#'><i class='fa fa-instagram'></i></a>
				</li>
			</ul>
		</div>
		</aside><aside class='widget widget_footer'>
		<h4 class='widget-title'>Về Chúng Tôi</h4>
		<ul class='ps-list--link'>
							 <li><a asp-controller="GioiThieu" asp-action="Index">Giới Thiệu</a></li>
                            <li><a asp-controller="SanPham" asp-action="Index">Sản Phẩm</a></li>
                            <li><a asp-controller="Decor" asp-action="Index">Decor</a></li>
                            <li><a asp-controller="TinTuc" asp-action="Index">Tin Tức</a></li>
		</ul>
		</aside><aside class='widget widget_footer'>
		<h4 class='widget-title'>Hỗ Trợ</h4>
		<ul class='ps-list--link'>
							<li><a asp-controller="LienHe" asp-action="Index">Liên hệ</a></li>
							<li><a href="/User/Profile#historySection" id="historyLink">Thông Tin Giao Hàng</a></li>
							<li><a asp-controller="ThongTin" asp-action="DieuKhoan">Điều Khoản</a></li>
                            <li><a asp-controller="ThongTin" asp-action="BaoMat">Bảo Mật</a></li>
						<script>
							document.getElementById("historyLink").addEventListener("click", function(e) {
								e.preventDefault();

								fetch('/Auth/CheckLogin')
									.then(res => res.json())
									.then(data => {
										if (data.loggedIn) {
											window.location.href = "/User/Profile#historySection";
										} else {
											window.location.href = "/Auth/Login";
										}
									})
									.catch(err => {
										console.error(err);
										window.location.href = "/Auth/Login";
									});
							});
						</script>
		</ul>
		</aside><aside class='widget widget_footer'>
		<h4 class='widget-title'>Tài Nguyên</h4>
		<ul class='ps-list--link'>
							<li><a href="#">Tư Vấn Miễn Phí</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">YouTube</a></li>
		</ul>
		</aside>
	</div>
	<div class="ps-footer__copyright">
		<p>
			Copyright &copy; 2025 Nội Thất G3TD
		</p>
	</div>
</div>
</footer>
<!--  quang caos
<div class="ps-popup" id="subscribe" data-time="500">
    <div class="ps-popup__content bg--cover" style="background-image: url('/Users/img/subscribe.png');">

        <a class="ps-popup__close" href="#"><i class="icon-cross"></i></a>
        <form class="ps-form--subscribe-popup" action="#" method="POST">x`
            <div class="ps-form__content">
                <h4>Nhận ngay ưu đãi giảm 25%</h4>
                <p>
                    Đăng ký nhận bản tin từ Nội Thất G3TD Shop để cập nhật thông tin mới nhất, các ưu đãi đặc biệt và chương trình khuyến mãi của chúng tôi.
                </p>
                <div class="form-group">
                    <input class="form-control" type="email" name='email' placeholder="Địa chỉ Email" required>
                    <div class="ps-checkbox">
                        <input class="form-control" type="checkbox" id="not-show" name="notshow">
                        <label for="not-show">Không hiển thị lại biểu mẫu này.</label>
                    </div>
                    <br>
                    <button type='submit' name='submit' class="ps-btn">Đăng ký</button>
                </div>
            </div>
        </form>
    </div>
</div>
-->
<div id="back2top">
	<i class="pe-7s-angle-up"></i>
</div>
<div class="ps-site-overlay"></div>
<div id="loader-wrapper">
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
</div>
<div class="ps-search" id="site-search">
	<a class="ps-btn--close" href="#"></a>
	<div class="ps-search__content">
		<form class="ps-form--primary-search" action="do_action" method="post">
			<input class="form-control" type="text" placeholder="Search for...">
			<button><i class="aroma-magnifying-glass"></i></button>
		</form>
	</div>
</div>
<script src="~/Users/js/jquery-1.12.4.min.js"></script>
<script src="~/Users/js/popper.min.js"></script>
<script src="~/Users/css/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="~/Users/css/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="~/Users/js/imagesloaded.pkgd.min.js"></script>
<script src="~/Users/js/masonry.pkgd.min.js"></script>
<script src="~/Users/js/isotope.pkgd.min.js"></script>
<script src="~/Users/js/jquery.matchHeight-min.js"></script>
<script src="~/Users/css/plugins/slick/slick/slick.min.js"></script>
<script src="~/Users/js/jquery.barrating.min.js"></script>
<script src="~/Users/js/slick-animation.min.js"></script>
<script src="~/Users/js/lightgallery-all.min.js"></script>
<script src="~/Users/js/jquery-ui.min.js"></script>
<script src="~/Users/js/sticky-sidebar.min.js"></script>
<script src="~/Users/js/jquery.slimscroll.min.js"></script>
<script src="~/Users/js/select2.full.min.js"></script>
<!-- custom scripts-->
<!-- DataTables -->
<script src="~/Users/js/jquery.dataTables.min.js"></script>
<script src="~/Users/js/dataTables.bootstrap.min.js"></script>
<script src="~/Users/js/jquery.uploadfile.min.js"></script>
<script src="~/Users/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxflHHc5FlDVI-J71pO7hM1QJNW1dRp4U&amp;region=GB"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $(function() { $(window).scroll(function() {
                if($(this).scrollTop()>400) { $('#Back-to-top').fadeIn(); }else { $('#Back-to-top').fadeOut();}});
                $('#Back-to-top').click(function() {
                    $('body,html')
                    .animate({scrollTop:0},300)
                    .animate({scrollTop:40},200)
                    .animate({scrollTop:0},130)
                    .animate({scrollTop:15},100)
                    .animate({scrollTop:0},70);
                    });
            });
            $('#editor1').summernote({
                height: "300px",
                callbacks: {
                    onImageUpload: function(image) {
                        uploadImage(image[0]);
                    },
                    onMediaDelete : function(target) {
                        deleteImage(target[0].src);
                    }
                }
            });
        function uploadImage(image) {
            var data = new FormData();
            data.append("image", image);
            $.ajax({
                url: "https://tajalapak.com/members/upload_image",
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "POST",
                success: function(url) {
                    $('#editor1').summernote("insertImage", url);
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }
        function deleteImage(src) {
            $.ajax({
                data: {src : src},
                type: "POST",
                url: "https://tajalapak.com/members/delete_image",
                cache: false,
                success: function(response) {
                    console.log(response);
                }
            });
        }
        });
    </script>
<script src="~/Users/js/summernote-bs4.min.js"></script>
<script>
    $(function () {
        // Summernote
        $('#editor1').summernote()
    })
    </script>
<script>
        $(".formatNumber").on('keyup', function(){
            var n = parseInt($(this).val().replace(/\D/g,''),10);
            $(this).val(n.toLocaleString());
        });
	$(document).ready(function(){
        $('#state').change(function(){
          var state_id = $(this).val();
          $.ajax({
            type:"POST",
            url:"https://tajalapak.com/auth/city",
            data:"stat_id="+state_id,
            success: function(response){
              $('#city').html(response);
            }
          })
        })
      })
      $(document).ready(function(){
        $('#state_reseller').change(function(){
          var state_id = $(this).val();
          $.ajax({
            type:"POST",
            url:"https://tajalapak.com/auth/city",
            data:"stat_id="+state_id,
            success: function(response){
              $('#city_reseller').html(response);
            }
          })
        })
      })
	function toDuit(number) {
	    var number = number.toString(), 
	    duit = number.split('.')[0], 
	    duit = duit.split('').reverse().join('')
	        .replace(/(\d{3}(?!$))/g, '$1,')
	        .split('').reverse().join('');
		return `${duit} VNĐ`;
			}
    </script>
<script>
    $(function () { 
        $("#example1").DataTable({
            "bSortable": false,
            "lengthChange": false,
            "oLanguage": {
            "sSearch": "Pencarian "
            }
        });
        $("#example11").DataTable({
            "bSortable": false,
            "lengthChange": false,
            "oLanguage": {
            "sSearch": "Pencarian "
            }
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
        $('#example3').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "autoWidth": false,
            "pageLength": 10,
            "order": [[ 4, "desc" ]]
        });
    });
    </script>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Notifikasi</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">Produk Berhasil Disimpan!</div>
		</div>
	</div>
</div>

<script>
    function save(id,data2){
        $.ajax({
            type : "POST",
            url  : "https://tajalapak.com/produk/save",
            dataType : "JSON",
            data : {id:id},
            success: function(data){
                $(".produk-"+id).hide().load(" .produk-"+id).fadeIn();
                $("#exampleModalCenter").modal('show');
                $(".wishlistcount").hide().load(" .wishlistcount").fadeIn();
            }
        });
        return false;
    }
    </script>
<script>
        $(function(){
            $(document).on('click','.quick_view',function(e){
                e.preventDefault();
                $("#myModalDetail").modal('show');
                $.post("https://tajalapak.com/produk/quick_view",
                    {id:$(this).attr('data-id')},
                    function(html){
                        $(".content-body").html(html);
                    }   
                );
            });
        });
    </script>
<div class='hidden'>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/620335389bd1f31184dba6c7/1fre8fphb';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();


	</script>
	<!--End of Tawk.to Script-->
	<script type="text/javascript" src="~/Users/js/bootstrap-multiselect.js"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            $('#multiple_select').multiselect({
                enableClickableOptGroups: true,
                enableCollapsibleOptGroups: true,
                enableFiltering: true,
                includeSelectAllOption: false,
                maxHeight: 300,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '99%',
                numberDisplayed: 6
            });
            $('#multiple_select2').multiselect({
                enableClickableOptGroups: true,
                enableCollapsibleOptGroups: true,
                enableFiltering: true,
                includeSelectAllOption: false,
                maxHeight: 200,
                enableCaseInsensitiveFiltering: true
            });
        });
    </script>
</div>
</body>
</html>