@model Final_Project.Models.Shop.DanhMuc

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Sửa Danh Mục";
}

<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">

<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Admin/css/animate.css">
<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/Admin/css/style.css">

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Category Edit</h4>
                <h6>Update your Category</h6>
            </div>
        </div>

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- Mã danh mục (hidden) -->
                        <input type="hidden" name="MaDanhMuc" value="@Model.MaDanhMuc" />

                        <!-- Tên danh mục -->
                        <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label>Tên danh mục</label>
                                <input type="text" name="TenDanhMuc" value="@Model.TenDanhMuc" class="form-control" required />
                                @if (ViewData.ModelState["TenDanhMuc"]?.Errors.Count > 0)
                                {
                                    <span class="text-danger">@ViewData.ModelState["TenDanhMuc"].Errors[0].ErrorMessage</span>
                                }
                            </div>
                        </div>

                        <!-- Mô tả danh mục -->
                        <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <input type="text" name="MoTa" value="@Model.MoTa" class="form-control" />
                            </div>
                        </div>

                        <!-- Nút submit -->
                        <div class="col-lg-12 mt-3">
                            <button type="submit" class="btn btn-primary me-2">Cập nhật</button>
                            <a href="/Admin/DanhMuc/Index" class="btn btn-secondary">Huỷ</a>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="~/Admin/js/jquery-3.6.0.min.js"></script>
<script src="~/Admin/js/feather.min.js"></script>
<script src="~/Admin/js/jquery.slimscroll.min.js"></script>
<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/plugins/select2/js/select2.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>
<script src="~/Admin/js/script.js"></script>
