@model Final_Project.Models.ViewModels.DashboardViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "";
}
<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">

<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Admin/css/animate.css">
<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/Admin/css/style.css">

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <!-- Tổng doanh thu -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-widget">
                    <div class="dash-widgetimg">
                        <span><img src="~/Admin/img/icons/dash1.svg" alt=""></span>
                    </div>
                    <div class="dash-widgetcontent">
                        <h5>@Model.TotalSaleAmount.ToString("C")</h5>
                        <h6>Tổng doanh thu</h6>
                    </div>
                </div>
            </div>

            <!-- Khách hàng -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-count">
                    <div class="dash-counts">
                        <h4>@Model.TotalCustomers</h4>
                        <h5>Khách hàng</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user"></i>
                    </div>
                </div>
            </div>

            <!-- Nhà cung cấp -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-count">
                    <div class="dash-counts">
                        <h4>@Model.TotalSuppliers</h4>
                        <h5>Nhà cung cấp</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="user-check"></i>
                    </div>
                </div>
            </div>

            <!-- Số hóa đơn bán -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-count">
                    <div class="dash-counts">
                        <h4>@Model.TotalSalesInvoice</h4>
                        <h5>Số hóa đơn bán</h5>
                    </div>
                    <div class="dash-imgs">
                        <i data-feather="file"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sản phẩm mới thêm -->
        <div class="card mt-4">
            <div class="card-header pb-0">
                <h4 class="card-title">Sản phẩm mới thêm</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive dataview">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.RecentProducts.Count; i++)
                            {
                                var p = Model.RecentProducts[i];
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td class="productimgname">
                                        <img src="@p.ImageURL" alt="@p.TenSP" style="width:40px;height:40px;" />
                                        @p.TenSP
                                    </td>
                                    <td>@p.DonGia.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Admin/js/jquery-3.6.0.min.js"></script>
<script src="~/Admin/js/feather.min.js"></script>
<script src="~/Admin/js/jquery.slimscroll.min.js"></script>
<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/plugins/apexchart/apexcharts.min.js"></script>
<script src="~/Admin/plugins/apexchart/chart-data.js"></script>
<script src="~/Admin/js/script.js"></script>
