@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Sản Phẩm";
}

<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">

<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Admin/css/animate.css">

<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="~/Admin/css/style.css">


<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>DANH SÁCH SẢN PHẨM</h4>
<h6>Manage your products</h6>
</div>
<div class="page-btn">
<a href="addproduct.html" class="btn btn-added"><img src="~/Admin/img/icons/plus.svg" alt="img" class="me-1">Add New Product</a>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="table-top">
<div class="search-set">
<div class="search-path">
<a class="btn btn-filter" id="filter_search">
<img src="~/Admin/img/icons/filter.svg" alt="img">
<span><img src="~/Admin/img/icons/closes.svg" alt="img"></span>
</a>
</div>
<div class="search-input">
<a class="btn btn-searchset"><img src="~/Admin/img/icons/search-white.svg" alt="img"></a>
</div>
</div>
<div class="wordset">
<ul>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/Admin/img/icons/pdf.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/Admin/img/icons/excel.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/Admin/img/icons/printer.svg" alt="img"></a>
</li>
</ul>
</div>
</div>

<div class="card mb-0" id="filter_inputs">
<div class="card-body pb-0">
<div class="row">
<div class="col-lg-12 col-sm-12">
<div class="row">
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Choose Product</option>
<option>Macbook pro</option>
<option>Orange</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Choose Category</option>
<option>Computers</option>
<option>Fruits</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Choose Sub Category</option>
<option>Computer</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Brand</option>
<option>N/D</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12 ">
<div class="form-group">
<select class="select">
<option>Price</option>
<option>150.00</option>
</select>
</div>
</div>
<div class="col-lg-1 col-sm-6 col-12">
<div class="form-group">
<a class="btn btn-filters ms-auto"><img src="~/Admin/img/icons/search-whites.svg" alt="img"></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="table-responsive">
    <table class="table datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                <th>Tên Sản Phẩm</th>
                <th>Mã</th>
                <th>Danh Mục</th>
                <th>Thương Hiệu</th>
                <th>Gía</th>
                <th>Số Lượng</th>
                <th>Người Tạo</th>
                <th>Chỉnh Sửa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sp in Model)
            {
                <tr>
                    <td>
                        <label class="checkboxs">
                            <input type="checkbox" name="selectedIds" value="@sp.MaSP" />
                            <span class="checkmarks"></span>
                        </label>
                    </td>
                    <td class="productimgname">
                        <a href="javascript:void(0);" class="product-img">
                            <img src="@sp.ImageURL" alt="product" />
                        </a>
                        <a href="javascript:void(0);">@sp.TenSP</a>
                    </td>
                    <td>@sp.MaSP</td> <!-- Bạn có thể thay bằng SKU nếu có -->
                    <td>@sp.DanhMuc?.TenDanhMuc</td>
                    <td>@sp.ThuongHieu?.TenThuongHieu</td>
                    <td>@sp.DonGia.ToString("N0") đ</td>
                
                    <td>@sp.SoLuong</td> <!-- Giả sử có thuộc tính Số lượng -->
                    <td>Admin</td> <!-- Tạm thời cố định nếu chưa có thông tin người tạo -->
                    <td>
                        <a class="me-3" asp-action="Details" asp-route-id="@sp.MaSP">
                            <img src="~/Admin/img/icons/eye.svg" alt="Xem">
                        </a>
                        <a class="me-3" asp-action="Edit" asp-route-id="@sp.MaSP">
                            <img src="~/Admin/img/icons/edit.svg" alt="Sửa">
                        </a>
                        <a class="confirm-text" asp-action="Delete" asp-route-id="@sp.MaSP">
                            <img src="~/Admin/img/icons/delete.svg" alt="Xóa">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script src="~/Admin/js/jquery-3.6.0.min.js"></script>

<script src="~/Admin/js/feather.min.js"></script>

<script src="~/Admin/js/jquery.slimscroll.min.js"></script>

<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Admin/js/bootstrap.bundle.min.js"></script>

<script src="~/Admin/plugins/select2/js/select2.min.js"></script>

<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="~/Admin/js/script.js"></script>

