@model List<Final_Project.Models.Chat.TinNhan>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Tin Nhắn";
}

<link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.jpg">

<link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">

<link rel="stylesheet" href="~/Admin/css/animate.css">

<link rel="stylesheet" href="~/Admin/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="~/Admin/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/Admin/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="~/Admin/css/style.css">



<div class="page-wrapper">
    <div class="content">
        <div class="col-lg-12">
            <div class="row chat-window">

<h2>Chat với @Model.FirstOrDefault()?.NguoiGui?.HoTen</h2>

<div style="border:1px solid #ccc; padding:10px; height:300px; overflow-y:auto;">
    @foreach (var msg in Model)
    {
        if (msg.NguoiGuiId == 3)
        {
            <div style="text-align:right;color:blue;">
                <b>Admin:</b> @msg.NoiDung <small>@msg.ThoiGianGui.ToString("HH:mm")</small>
            </div>
        }
        else
        {
            <div style="text-align:left;color:green;">
                <b>@msg.NguoiGui?.HoTen:</b> @msg.NoiDung <small>@msg.ThoiGianGui.ToString("HH:mm")</small>
            </div>
        }
    }
</div>

<form method="post" asp-action="SendMessage">
    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    <input type="text" name="noiDung" placeholder="Nhập tin nhắn..." style="width:80%;" required />
    <button type="submit" class="btn btn-primary">Gửi</button>
</form>
            </div>
        </div>
    </div>
</div>

<script src="~/Admin/js/jquery-3.6.0.min.js"></script>

<script src="~/Admin/js/feather.min.js"></script>

<script src="~/Admin/js/jquery.slimscroll.min.js"></script>

<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<script src="~/Admin/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Admin/js/bootstrap.bundle.min.js"></script>

<script src="~/Admin/plugins/select2/js/select2.min.js"></script>

<script src="~/Admin/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/Admin/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="~/Admin/js/script.js"></script>
